@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@600&family=Quicksand:wght@600&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    padding: 5px, 5px, 5px, 5px;
    margin: auto;
}
#content{
    float: left;
    width: 75%;
}
.jumbotron{
   font-size: 20px;
   font-family: 'Bebas Neue', sans-serif;
   padding: 60px;
   background-color: #00c8eb;
   text-align: center;
   color: #4D4C7D;
   clear: both;
   width: 100%;
}
li{
    display: inline;
    margin-left: 5px;
}
nav{
    background-color: #00a2c6;
    padding: 5px;
    width: 100%;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }
nav a:hover{
    font-weight: 900;
    color: saddlebrown;
}
nav a:link{
    color: brown;
}
nav a:visited{
    color: darkblue;
}
h2{
    color: #4D4C7D;
}
.paragraf{
    text-align: justify;
    text-indent: 2em;
}
h3{
    color: #827397;
}
.gambar{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
#Sejarah{  
    max-width: 1080px;
    max-height: 720px;
    width: 75%;
    height: 125%;
    background-color: #E9D5CA;
    overflow: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px, 10px, 10px, 10px;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-radius: 10px;
}

#Geografis{
    max-width: 1080px;
    max-height: 720px;
    width: 75%;
    height: 125%;
    background-color: #E9D5CA;
    overflow: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px, 10px, 10px, 10px;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-radius: 10px;
    
}

#Wisata{
    max-width: 1080px;
    max-height: 720px;
    width: 75%;
    height: 125%;
    background-color: #E9D5CA;
    overflow: auto;
    text-align: center;
    margin-top: 20px, auto;
    margin-left: 20px;
    padding: 10px, 10px, 10px, 10px;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-radius: 10px;
}
.box{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}
footer{
    text-align: center;
    padding: 20px;
    color: #E9D5CA;
    background-color: #363062;
}
.profile{

    background-color: #E9D5CA;
    overflow: auto;
    text-align: center;
    border-width: 1px, 1px, 1px, 1px;
    border-style: solid;
    border-radius: 10px; 
    float: right; 
    padding-left: 20px;
}
.profile header{
    text-align: center;
}
.profile img{
    width: 200px;
}
aside{
    float: right;
    width: 25%;
}
main{
    overflow: auto;
}